In [24]:
import numpy as np
import pandas as pd

In [46]:
def readWave(iu,fp):
    if iu==1:
        df = pd.read_table(fp, header=None,sep ='\s+', skiprows=0)
        df.index = pd.to_datetime(df[0] + " " + df[1])
        df = df.drop([0, 1], axis=1)
        df.index.rename('YYYY-MM-DD hh:mm:ss',inplace=True)
        cnames=['Hs','T02','T01','Tm10','Tp','Dirm','Dirp','Spr','Hs0','Tp0','Dirp0','gam0','spr0','Hs1','Tp1','Dirp1','gam1','spr1','Hs2','Tp2','Dirp2','gam2','spr2','Hs3','Tp3','Dirp3','gam3','spr3','uw','vw']
        df.columns=cnames
        for var in ('T02','T01','Tm10','Tp'):
            df.loc[df[var]<=0,var]=np.nan
            df[var].interpolate(method='time',inplace=True,limit=12)
            #df.method({var: time}, inplace=True)
            #df[var] = df[var].method(time)

    if iu==0:
        df = pd.read_table(fp, header=None,sep ='\s+', parse_dates=[[0,1,2,3]],index_col=0)
        df.index.rename('YYYY-MM-DD hh:mm:ss',inplace=True)
        df.columns=['Hs','Tm','Tp','Dirm','Dirp','Spr','Lm','Lp','uw','vw','Hsws','Tmws','Dirws','s1Hs','s1Tm','s1Dir','s2Hs','s2Tm','s2Dir']
        for var in ('Tm','Tp'):
            df.loc[df[var]<=0,var]=np.nan
            df[var].interpolate(method='time',inplace=True,limit=12)
    return df

In [47]:
fin='./Point_out_000260.dat'
pdW=readWave(1,fin)
pdW

/tmp/ipykernel_10548/3198019246.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[var].interpolate(method='time',inplace=True,limit=12)
/tmp/ipykernel_10548/3198019246.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[var].interpolate(method='time',inplace=True,limit=12)
/tmp/ipykernel_10548/3198019246.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[var].interpolate(method='time',inplace=True,limit=12)
/tmp/ipykernel_10548/3198019246.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  df[var].interpolate(method='time',inplace=True,limit=12)

,Hs,T02,T01,Tm10,Tp,Dirm,Dirp,Spr,Hs0,Tp0,...,Dirp2,gam2,spr2,Hs3,Tp3,Dirp3,gam3,spr3,uw,vw
YYYY-MM-DD hh:mm:ss,,,,,,,,,,,,,,,,,,,,,
1979-01-01 00:00:00,0.000,1.52,1.52,1.52,1.96,270.0,227.3,0.0,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5.51,5.12
1979-01-01 01:00:00,0.232,1.47,1.58,1.74,1.96,228.2,227.3,26.1,0.232,1.96,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,8.30,6.07
1979-01-01 02:00:00,0.706,2.23,2.41,2.65,3.02,229.1,226.5,31.7,0.706,3.02,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,12.40,8.38
1979-01-01 03:00:00,1.151,3.03,3.30,3.63,4.18,222.7,217.8,30.1,1.151,4.18,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.65,8.66
1979-01-01 04:00:00,1.472,3.66,4.00,4.42,5.08,219.4,216.1,27.6,1.472,5.08,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,9.12,7.74
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2025-01-30 20:00:00,1.140,4.57,5.20,6.09,7.52,205.5,221.8,37.8,NaN,NaN,...,152.6,2.24,0.5,0.257,4.43,280.2,2.20,0.4,-2.42,-2.08
2025-01-30 21:00:00,1.145,4.54,5.17,6.08,7.52,207.2,221.6,38.0,NaN,NaN,...,153.4,2.19,0.5,0.305,4.40,280.6,2.12,0.4,-2.58,-2.36
2025-01-30 22:00:00,1.154,4.46,5.10,6.02,7.51,209.0,221.2,39.2,NaN,NaN,...,159.3,2.27,0.4,0.356,4.37,281.0,2.06,0.5,-1.61,-0.75
2025-01-30 23:00:00,1.159,4.41,5.04,5.97,7.51,210.9,220.9,40.5,NaN,NaN,...,159.8,2.21,0.4,0.402,4.34,281.6,2.01,0.5,-0.55,-1.83
2025-01-31 00:00:00,1.154,4.38,5.01,5.94,7.51,212.6,220.4,41.5,NaN,NaN,...,160.2,2.25,0.4,0.434,4.29,282.1,1.99,0.5,-2.77,-0.70